.slide-carousel {
  margin-bottom: 60px;
}

.slide-carousel .carousel-control-prev  {
  display: none;
}

.slide-carousel .carousel-control-next {
  display: none;
}

.slide-carousel .carousel-indicators {
  margin-bottom: 40px;

  @media screen and (max-width: 1023px) {
    margin-bottom: 15px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.slide-carousel img {
  margin: 0 auto;
  max-width: 1920px;
}

.slide-carousel .carousel-item:nth-child(1) {
  background-color: #2C36F2;
  background-image: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 32.89%, #2027B3 99.79%);
}

.slide-carousel .carousel-item:nth-child(2) {
  background: linear-gradient(135deg, #DDE2EC, #DDE2EC 40%, #F6FCFF 83%, #F6FCFF);
}

.slide-carousel .carousel-item:nth-child(3) {
  background-color: #E6F1FE;
}

.slide-carousel .carousel-indicators li {
  background-color: #2028B6;
  border-bottom: 0;
  border-radius: 50%;
  border-top: 0;
  height: 8px;
  margin-left: 0;
  opacity: 1;
  width: 8px;

  @media screen and (max-width: 767px) {
    height: 6px;
    width: 6px;
  }
}

.slide-carousel .carousel-indicators li:not(:last-child) {
  margin-right: 8px;

  @media screen and (max-width: 767px) {
    margin-right: 6px;
  }
}
.slide-carousel .carousel-indicators li:last-child {
  margin-right: 0;
}

.slide-carousel .carousel-indicators .active:nth-child(1),
.slide-carousel .carousel-indicators .active:nth-child(2) {
  background-color: #F6F7FF;
}

.slide-carousel .carousel-indicators .active:nth-child(3) {
  background-color: #E0E0E0;
}

.slide-carousel .carousel-caption {
  align-items: flex-start;
  bottom: 28.5%;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 63px;

  @media screen and (min-width: 1920px) {
    left: 19.61%;
  }

  @media screen and (max-width: 1023px) {
    bottom: 25.3333333%;
    padding-left: 0;
    left: 11.198%;
  }

  @media screen and (max-width: 767px) {
    bottom: 21.239%;
    left: 50%;
    margin-left: -145px;
  }
}

.slide-carousel .carousel-item:nth-child(2) .carousel-caption {
  bottom: 50.25%;

  @media screen and (max-width: 1023px) {
    bottom: 51.5%;
  }

  @media screen and (max-width: 767px) {
    bottom: 43%;
    padding-left: 0;
    text-align: left;
  }
}

.slide-carousel .caption-header {
  font-size: 54px;
  line-height: 63px;
  font-weight: bold;

  @media screen and (max-width: 1023px) {
    font-size: 46px;
    line-height: 54px;
    margin-bottom: 6px;
  }

  @media screen and (max-width: 767px) {
    font-size: 38px;
    line-height: 45px;
    margin-bottom: 7px;
  }
}

.slide-carousel .caption-header--white {
  color: #F6F7FF;
}

.slide-carousel .caption-header--black {
  color: #1F1E25;
}

.slide-carousel .caption-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 34px;

  @media screen and (max-width: 1023px) {
    font-size: 17.6px;
    line-height: 21px;
    letter-spacing: .2px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    font-size: 15.6px;
    line-height: 19px;
    margin-bottom: 25px;
  }
}

.slide-carousel .carousel-item:nth-child(2) .caption-text {
  margin-bottom: 0;

  @media screen and (max-width: 767px) {
    max-width: 145px;
  }
}

.slide-carousel .caption-text--white {
  color: #E0E1EA;
}

.slide-carousel .caption-text--black {
  color: #2B3C4F;
}

.slide-carousel .caption-btn {
  border-radius: 4px;
  display: inline-block;
  font-size: 17.6px;
  font-weight: 500;
  height: 53px;
  line-height: 53px;
  letter-spacing: .2px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  @media screen and (max-width: 1023px) {
    font-size: 15.6px;
    height: 48px;
    line-height: 48px;
  }

  @media screen and (max-width: 767px) {
    font-size: 13.6px;
    height: 43px;
    line-height: 43px;
  }
}

.slide-carousel .caption-btn--white {
  background-color: #F6F7FF;
  color: #1F1E25;
  padding: 0 36px;

  @media screen and (max-width: 1023px) {
    padding: 0 31px;
  }
}

.slide-carousel .caption-btn--blue {
  background-color: #2C36F2;
  color: #F6F7FF;
  padding: 0 48px;

  @media screen and (max-width: 1023px) {
    padding: 0 38px;
  }
}

